/*common styles*/

body {
  background-color: rgba(3, 26, 153, 0.918);
}

h1, h2, h3, h4 {
  font-family: 'Sansita Swashed', cursive;
  color: goldenrod;
  letter-spacing: 2px;
}

article, header, footer, fieldset {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main, footer {
  color: goldenrod;
  text-align: center;
}

p {
  letter-spacing: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

main article, section, footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 7px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.item {
  display: flex;
  flex-direction: column;
}

/*list styles*/

ul {
  text-align: center;
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
  align-content: flex-start;
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}

ul li {
  text-align: center;
}

/*img styles*/

.img-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 2px;
}

/*link styles*/

a {
  text-decoration: none;
}

main article section nav {
  display: flex;
  justify-content: center;
}

a:link {
  color: goldenrod;
}

a:visited {
  color: rgb(184, 139, 28);
}

a:hover {
  transition-duration: .7s;
  color: yellow;
  letter-spacing: 4px;
}

a:target {
  transition-duration: .3s;
  color: wheat;
}

/*footer styles*/

footer {
  padding-bottom: 5px;
}

/*Desktop styles*/

@media screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  header nav ul li {
    padding-left: 10px;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
  }
}

@media screen and (min-width:1100px) {
  main {
    margin-left: 140px;
    margin-right: 140px;
  }
}